@model List<ResultSpecialOfferDto>
<div class="col-lg-4">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="@item.ImageUrl" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">
                        @item.Title
                    </h6>
                    <h3 class="text-white mb-3">@item.SubTitle</h3>
                    <a href="" class="btn btn-primary">Alışverişe Başlayın</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="product-offer mb-30" style="height: 200px;">
            <img class="img-fluid" src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/media/thumb/thumb1.jpg" alt="">
            <div class="offer-text">
                <h6 class="text-white text-uppercase">
                    Ekleme Yapın
                </h6>
                <h3 class="text-white mb-3">Ekleme Yapın</h3>
                <a href="" class="btn btn-primary">Özel Teklif veya Günün Fırsatı Ekleyin</a>
            </div>
        </div>
    }

</div>