@model List<ResultAboutDto>
@if (Model is not null)
{
    foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Hakkımızda </h5>
            <p class="mb-4">@item.Description</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>@item.Address</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>@item.Email</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>@item.Phone</p>
        </div>
    }

}
else
{<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
        <h5 class="text-secondary text-uppercase mb-4">Hakkımızda </h5>
        <p class="mb-4">Açıklama Ekleyin</p>
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Adres Ekleyin</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Eposta Ekleyin</p>
        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>Telefon Ekleyin</p>
    </div>

}