@model List<ResultBrandDto>
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @if (Model is not null)
                {
                    foreach (var item in Model)
                    {
                        <div class="bg-light p-4" style="height:120px;width:130px">
                            <img src="@item.ImageUrl" alt="">
                        </div>
                    }
                }
                else
                {
                    <div class="bg-light p-4">
                        <p>Marka Ekle</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>