@model CreateContactDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Bize Yazın</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form asp-action="CreateContact" asp-controller="Contact" method="post" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" asp-for="@Model.NameSurname" placeholder="Adınız Ve Soyadınız"
                               required="required" data-validation-required-message="Adınızı ve Soyadınız Giriniz" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" asp-for="@Model.Email"placeholder="Eposta Adresiniz"
                               required="required" data-validation-required-message="Eposta Adresinizi Giriniz" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" asp-for="@Model.Subject" placeholder="Konu"
                               required="required" data-validation-required-message="Lütfen Konu Giriniz" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" asp-for="@Model.Message"placeholder="Mesajınız"
                                  required="required"
                                  data-validation-required-message="Lütfen Mesajınızı Yazınız"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Mesajı Gönder
                        </button>
                    </div>
                </form>
            </div>
        </div>
        @await Component.InvokeAsync("_ContactDetailComponentPartial")
        
    </div>
</div>
