<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">@ViewBag.v1</a>
                @if (ViewBag.v3 is not null)
                {
                    <a class="breadcrumb-item text-dark" href="#">@ViewBag.v3</a>

                }
                <span class="breadcrumb-item active">@ViewBag.v2</span>
            </nav>
        </div>
    </div>
</div>