@model List<ResultCategoryDto>
@{
    Layout = null;
}

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategoi Adı</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
</div>