
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">

        <div class="col-lg-3 col-md-4">

            @await Component.InvokeAsync("_PriceFilterProductListComponentPartial")

            @await Component.InvokeAsync("_ColorFilterProductListComponentPartial")

            @await Component.InvokeAsync("_SizeFilterProductListComponentPartial")

        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_ProductListGetProductCountComponentPartial")
                @await Component.InvokeAsync("_ProductListComponentPartial")
                @await Component.InvokeAsync("_PaginationProductListComponentPartial")
            </div>
        </div>
    </div>
</div>

